        html,body {
            cursor: url(res/main-cursor.png), auto;
            margin: 0;
            padding: 0;
            color: #ddd;
            overflow: hidden;
        }
        body {
            box-sizing: border-box;
        }

        .bg {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            overflow: hidden;
            background: #000;
        }
        .container {
            position: relative;
            overflow: hidden;
            height: 100vh;
            animation: animate 4s linear infinite;
        }
@keyframes animate {
            from {
                filter: hue-rotate(0deg);
            }
            to {
                filter: hue-rotate(360deg);
            }
        }
        .row {
            display: inline-flex;
            margin-top: -30px;
            margin-left: -50px;
            overflow: hidden;

        }
        .row:nth-child(even) {
            margin-left: 1px;
        }
        .hexagon {
            cursor: none;
            position: relative;
            aspect-ratio: 10 / 11;
            height: 110px;
            background: #111;
            margin: 1px;
            clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
            -moz-clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
            -webkit-clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
            -o-clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
            -ms-clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%,0% 75%,0% 25%);
            transition: 0s;
        }
        .over {
            overflow-x: hidden;
            margin-top: -28px;
            margin-left: -50.8px;
            display: flex;
            min-width: 480vw;
        }
        .hexagon::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 50%;
            background: rgba(255,255,255,0.027);
            transform: rotate(0deg);
            top: 0;
            left: 0;
            pointer-events: none;
        }

        .hexagon:hover {
            transition: 0s;
            background: #0f0;
            cursor: alias;
        }
        .bg {
            position:;
        }
        .main {
            position: absolute;
            left: 50%;
            top: 50%;
            background: #222;
            transform: translate(-50%,-50%);
            width: 80vw;
            z-index: 2;
            overflow-x: hidden;
            padding: 0px;
            max-height: 59vh;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border-radius: 4px;
            overflow-y: scroll;
            border: 1px solid #333;
            animation: animate 4s linear infinite;
        }
        .mm {
            max-height: 100%;
            max-width: 330px;
            padding: 10px;
            animation: animate 4s linear infinite;
            border-radius: 4px;
            border: 1px ridge #333;
            overflow: scroll;
            font-size: 16px;
        }
        .greethead {
            text-align: center;

        }
        .greet {
            text-align:;
        }
        .name {
            text-align: right;
        }
        ::selection {
            background: #0f0;
            color: white;
        }
                .contact {
            padding: 0;
            position: fixed;
            width: 100%;
            display: flex;
            justify-content: space-around;
            z-index: 10;
            height: 10vh;
            border-radius: 10px;
        }
        .contact > div {
            margin: 0;
            text-align: center;
            font-size: 1.5rem;
            display: grid;
            aspect-ratio: 1 / 1;
            align-items: center;
            border-radius: 50%;
            transition: .5s;
            height: 100%;
            
        }
    .contact > div > div {
        height: 100%;
        margin-top: 50%;
    
    }
    @keyframes hovering {
        0%,100% {
            color: #eef;
        } 50% {
            color: #fff;
        }
    }
    .contact > div > div > i {
        transition: .5s;;
    }
     .contact > div > div > i:hover  {
         animation: hovering 1s linear infinite;
         text-shadow: 0px 0px 5vh #fff,0px 0px 5vh #fff,0px 0px 5vh #fff,0px 0px 5vh #fff,0px 0px 5vh #fff;

     }
     .mp {
            cursor: url(res/click.png), auto;
            min-height: 20px;
            border: 1px solid transparent;
            animation: animate 4s linear infinite;
            border-radius: 4px;
            padding: 10px;
            overflow:;
            color: #bbb;
            margin-bottom: 8px;
            transition: 1s;
        }
        .mp:hover {
            text-decoration: underline;
            color: #fff;
            box-shadow: 0px 4px 8px black;
        }

        .projects {
            display: flex;
            justify-content: space-around;
            text-align: center;
            flex-wrap: wrap;
        }
        .mp h3 {
            padding: 4px;
        }
        .mp {
            user-select: none;
        }
    .mp::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: #333;
            transition: 1s;
            z-index: -1;
            transform: rotate(45deg);
            border: .1px ridge #444;
            box-shadow: 5px 12px 18px black;
        }
@media (min-width: 400px) {
      .mp::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height:70%;
            background: #333;
            transition: 1s;
            z-index: -1;
            transform: rotate(-45deg);
            border: .1px ridge #444;
            box-shadow: 5px 12px 18px black;
        }
            .mm {
                height: 655px;
                margin: 10px;
                font-size: 20px;
            }
            .contact {
                height: 12vh;
            }
            .over {
                margin-top: -25px;
                margin-left: -151.6px;
            }
            .break {
                min-width: 74vw;
                max-height: 30vh;
            }
            .greetings,.about {
                overflow: hidden;
            }
            .mp {
                min-height: 30px;
                width: 25%;
                margin: 6px;
            }
        .main {
            border-radius: 4px;
            height: 95vh;
        }
        .main:hover {
            border-radius: 8px;
        }
        }
@media (max-width: 400px) {
            .ov {
                margin-top: -28px;
                margin-left: -47px;

            }
            .mm {
                overflow-x: hidden;
            }
            .break {
                min-width: 80vw;
            }

            .mp {
                width: 40%;
            }
            .greetings,.about {
                overflow: hidden;
            }
        }
        ::-webkit-scrollbar {
            width: 0em;
            background-color: transparent;
        }

        /* Style the scrollbar track */
        ::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Style the scrollbar thumb */
        ::-webkit-scrollbar-thumb {
            background: transparent;
        }
        
        .placeit {
            margin-bottom: -130px;
            position: relative;
            margin-bottom: 0px;;
            margin-top: 30px;
        }

        .intro {
            animation: animate 4s linear infinite;
            position: fixed;
            height: 70vh;
            overflow: hidden;
            background: rgba(0,0,0,0);
            width: 80vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 100;

        }
        .intro1 {
            margin-top: -69px;
            overflow: hidden;
            background: linear-gradient( black, black, black,black,transparent);
        }
        .intro1 {
            animation: transfer 4s linear 1;
            border-radius: 10px;
        }
@keyframes transfer {
            0% {
                transform: translateY(-0px);
            }
            5% {
                transform: translateY(34px);
            }
            10% {
                transform: translateY(-34px);
            }
            15% {
                transform: translateY(0px);
            }
            100% {
                transform: translateY(-200%);;

            }
        }


        .intro1 div:nth-child(n+15):nth-child(-n+18) {
            display: none;
        }
        .over .hexagon {
            animation: animate 4s linear infinite;
            border: none;
            outline: none;
        }
        .greetings:before,.about:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 200%;
            width: 100%;
            z-index: -1;
            background: #333;
            transform: rotate(45deg);
        }
        .links {
            text-align: center;
        }
        .links h2 {
            border: 2px solid #333;
            display: inline-block;
            padding: 10px 8%;
            box-shadow: 3px 4px 9px black;
            border-radius: 4px;
            text-shadow: 0px 3px 4px #555;
            transition: 2s;
        }
        .links h2:hover {
            border-radius: 50%;
        }


        .username {
            font-size: 10px;
        }
@keyframes flash {
            0%,100% {
                left:-10%;
                top: -10%;
            }

            25% {
                left: 70%;
                top: -10%;
            }

            50% {
                left: 70%;
                top: 75%;
            }

            74% {
                left: -10%;
                top: 75%;
            }
        }
        .flash {
            position: fixed;
            width: 40%;
            height: 33%;
            background: linear-gradient(0deg,blue,cyan);
            animation: flash 7s linear infinite;
            z-index: 0;
            border-radius: 100%;
        }
        .title {
            position: sticky;
            top: 0px;
            z-index: 4;
            backdrop-filter: blur(5px);
        }
        .inline-link {
            text-decoration: none;
            text-decoration: underline #ddd;
            color: #eee;
            transition: .5s;
        }
        .inline-link:hover {
            text-decoration: underline #fff;
            color: #fff;
            cursor: pointer;
            font-weight: 900;
        }
        .inline-link:active {
            color: #ddd;
            border: 1px solid cyan;
            border-radius: 12px;
        }
