* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
html {
    user-select: none;
    overflow: hidden;
    cursor: url('res/cursor.svg') 9 9, auto;
    background: #010101;
    color: aliceblue;
    overflow-y: scroll;
}
header {
    z-index: 5;
    position: sticky;
    top: 0;
    height: 70px;
    max-height: 70px;
    /* border: 1px solid red; */
    backdrop-filter: blur(5px);
    align-content: center;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
}
.nav {
    /* border: 1px solid lime; */
}
.nav-desk > .nav-items {
    padding: 10px 20px;
    border-radius: 6px;
    transition: .7s;
    position: relative;
    border: 1px solid transparent;
}
.nav-desk > .nav-items:hover, .active {
    background: #ffffff01;
}
.nav-desk > .nav-items:hover::before, .active::before {
    position: absolute;
    content: '';
    background-image: url('res/assets/ray.png');
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 10px 12px 20px 0px #0b3a0b2f, 5px 6px 30px 0px #0b3a0b2f;
    width: 100%;
    background-repeat: no-repeat;
    filter: brightness(150%) contrast(90%) saturate(203%);
    z-index: -1;
}
.nav-desk {
    /* border: 1px solid lime; */
    list-style: none;
    padding: 15px 45px;
    padding-left: 20px;
    display: flex;
    gap: calc(55px + 4vw);
}
.nav-mobile {
    /* border: 1px solid red; */
    backdrop-filter: brightness(178%) blur(30%);
}
.nav-mobile details summary {
    /* border: 1px solid pink; */
    height: 100%;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 12.5px;
}
.list-mobile {
    list-style: none;
    backdrop-filter: brightness(178%) blur(0px);
    position: absolute;
    transition: .7s;
    transform: translateX(-80%);
    opacity: 0;
    border: 1px solid #ffffff18;
    border-radius: 0px;
    animation: none;
}
.list-mobile::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('res/assets/ray.png');
    background-size: 150% 150%;
    background-repeat: no-repeat;
    filter: blur(3px) saturate(230%);
    z-index: -1;
}
.nav-mobile details[open] > .list-mobile {
    /* transition: 1s; */
    /* animation: fade 1s ease-in; */
    /* transform: translateX(-80%); */
}
@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;;
    }
}
.nav-desk {
    display: none;
}
.nav-mobile details summary img {
    filter: invert(100%);
    object-fit: contain;
    transition: 0.5s;
    height: 45px;
    /* border: 1px solid blue; */
    aspect-ratio: 1  / 1;
}
.nav-mobile details[open] summary img {
    filter: invert(100%);
    transform: rotate(30deg);
}
.summary-anim {
    position: absolute;
    /* border: 1px solid lime; */
    top: 0;
    right: 0;
    z-index: 0;
    filter: brightness(130%) contrast(120%) saturate(320%);
    height: 700%;
    transform: translate(calc(50% - 35px), calc(-50% + 35px));
    animation: rotate 22s linear infinite;
}
@keyframes rotate {
    0%, 100% {
        transform: translate(calc(50% - 35px), calc(-50% + 35px)) rotate(-25deg);
    } 50% {
        transform: translate(calc(50% - 35px), calc(-50% + 35px)) rotate(25deg);
    }
}
.nav-items {
    padding: 5px 20px;
}
.nav-mobile  .nav-items:hover {
    background: #ffffff0a;
}
main {
    height: calc(100dvh - 70px);
    background-image: url('res/assets/cir.png');
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    display: grid;
    position: relative;
    align-items: center;
    /* border: 1px solid rgb(0, 255, 195); */
}
.greeting {
    height: 100%;
    /* border: 1px solid red; */
    height: max-content;
    height: 100%;
    padding: 10%;
}
#roles {
    color: rgb(0, 255, 255);
}
.greeting > h1 {
    padding-bottom: 6%;
    opacity: .8;
}
.description {
    width: clamp(340px, 70%, 1000px);
    opacity: .6;
}
.author-img {
    object-fit: cover;
    width: clamp(100px, 30%, 400px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    filter: grayscale(920%) contrast(110%);
    padding: 10px;
}
.anim-plate {
    min-height: clamp(400px, 100dvh, 800px);
}
.anim-plate::after {
    position: absolute;
    content: '';
    height: 30%;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    border-radius: 0%;
    background-color: rgb(14, 140, 104);
    z-index: -2;
    filter: blur(500px) brightness(150%) saturate(234%) contrast(125%);
    animation: move 6s linear infinite;
    /* background-size: 60%; */
}
@keyframes move {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    } 100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.anim-plate::before {
    position: absolute;
    opacity: .3;
    content: '';
    height: 100%;
    width: 100%;
    background-image: url('res/assets/ray.png');
    background-repeat: no-repeat;
    filter: blur(0px);
    background-size: 60%;
}
footer {
    height: clamp(200px, 30dvh, 350px);
    /* border: 1px solid yellow; */
}
@media (min-width: 670px) {
    .nav-desk {
        display: flex;
    }
    .nav-mobile {
        display: none;
    }
}
@media (max-width: 670px) {
    .greeting > h1 {
        /* padding: 30px; */
        padding-bottom: 20%;
        opacity: .8;
        padding-top: 30%;
        font-size: 1.5rem;
    }
    .description {
        width: clamp(340px, 70%, 800px);
        /* padding-left: 30px; */
        padding-right: 10%;
        opacity: .6;
    }
}