@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lalezar&family=Leckerli+One&family=Lexend:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.koho-font {
    font-family: "Koho";
}
.lexend {
    font-family: "Lexend";
}
.cursive {
    font-family: "Leckerli One", cursive;
    font-weight: 200;
}
.lalezar {
    font-family: "Lalezar";
    font-weight: 400;
}
:root {
    --height: clamp(100px, 10vw, 130px);
}
::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}
html {
    user-select: none;
    overflow: hidden;
    overflow-y: scroll;
    cursor: url('res/cursor.svg') 9 9, auto;
}
footer {
    grid-area: footer;
}
.author {
    grid-area: author;
}
main {
    grid-area: main;
}
body {
    background: #000;
    color: #fff;
    display: grid;
    overflow: hidden;
    grid-template-rows: var(--height) calc(100dvh - var(--height));
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "main author";
}
body > * {
    /* border: 1px solid rgb(255, 0, 0); */
}
header {
    font-family: "Lalezar";
    padding: 0px 7%;
    grid-area: header;
    z-index: 5;
    position: sticky;
    top: 0;
    height: var(--height);
    max-height: var(--height);
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    backdrop-filter: blur(13px);
    background: linear-gradient(0deg, transparent 40%, #4ED28B55);
    font-size: 1.1rem;
}
header > .desk {
    align-content: center;
    display: grid;
    /* border: 1px solid lime; */
    grid-template-columns: max-content 1fr;
    
}
.desk-items .nav-items {
    position: relative;
    color: #fffe;
}
.desk-items .nav-items::before {
    position: absolute;
    content: '';
    width: 0%;
    transition: width 0.6s;
    background: #4ED28B;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    height: 3px;
}
.desk-items .nav-items:hover::before {
    width: 100%;
}
.buttons {
    cursor: url('res/cursor.svg') 9 9, auto;
    font-family: "Lalezar";
    color: #fff;
    font-weight: 550;
    font-size: 1rem;
    color: #4ED28B;
    background: #4ED28B22;
    padding: 4px 27px;
    border-radius: 6px;
    outline: none;
    transition: .3s;
    border: 2px solid transparent;
}
.buttons:hover {
    background: #4ED28Bee;
    border-color: #4ED28B44;
    color: #fff;
}
.desk > .nav {
    position: relative;
    font-size: 2.5rem;
    width: clamp(100px, 70%, 170px);
    letter-spacing: 1px;
}
.desk > .nav::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: #4ED28B77;
    filter: drop-shadow(0px 0px 2px #00000011);
    transform: translate(1%, -7%);
    height: 104%;
    border-radius: 50%;
    z-index: -2;
    aspect-ratio: 1 / 1;
}
.desk > .nav::before {
    filter: drop-shadow(0px 0px 2px #00000041);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: #4ED28B66;
    transform: translateY(-19%);
    height: 140%;
    border-radius: 50%;
    z-index: -1;
    aspect-ratio: 1 / 1;
}
header > .desk > * {
    /* border: 1px solid red; */
}
.desk-items > li:nth-of-type(5) {
    padding-left: 10dvw;
}
.desk-items {
    max-width: clamp(500px, 70%, 800px);
    list-style: none;
    display: flex;
    justify-self: end;
    /* gap: clamp(30px, 30%, 80px); */
    /* border: 1px solid red; */
    justify-content: right;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.title {
    color: #4ED28B;
    font-size: calc(1vw * 4 + 20%);
}
.author-name {
    font-size: calc(1vw * 3 + 20%);
}
.fas {
    color: white;
    padding-left: 6px;
    font-size: .9rem;
}
.links {
    /* border: 1px solid blue; */
    display: inline;
}
.quick-links {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10%;
    justify-content: space-evenly;
}
.quick-links button {
    padding: 6px 12%;
}
main {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr;
    padding-left: var(--height);
    overflow: hidden;
    /* border: 1px solid red; */
}
main::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    height: 25dvh;
    aspect-ratio: 1 / 1;
    background: #4ed28c6e;
}
.main-contents:nth-of-type(1) {
    align-self: end;
}
.main-contents:nth-of-type(2) {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.socials p {
    padding: 10px 0px;
}
.author {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
}
:root {
    --circle-width: 60%;
    --author-img-height: 100%;
}
.cir1 {
    height: var(--circle-width);
    aspect-ratio: 1 / 1;
    background: #4ED28B;
    transform: translateY(10%);
    border-radius: 50%;
}
.author-img {
    position: absolute;
    object-fit: contain;
    height: var(--author-img-height);
    bottom: -100px;
}


@media screen and (min-width: 1250px) {
    :root {
        --circle-width: 80%;
        --author-img-height: 100%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1250px){
    :root {
        --circle-width: 75%;
        --author-img-height: 100%;
    }
}
@media screen and (min-width: 825px) and (max-width: 999px){
    :root {
        --circle-width: 70%;
        --author-img-height: 90%;
    }
  
}
@media screen and (min-width: 600px) and (max-width: 825px) {
    :root {
        --circle-width: 60%;
        --author-img-height: 90%;
    }
    main {
        padding-left: 30px;
    }
    .title {
        color: #4ED28B;
        font-size: calc(1vw * 4 + 20%);
    }
    .author-name {
        font-size: calc(1vw * 3 + 20%);
    }
}

@media screen and (min-width: 200px) and (max-width: 760px) {
    :root {
        --circle-width: 80%;
        --author-img-height: 120%;
    }
    main {
        padding-left: 30px;
        overflow: initial;
    }
    body {
        display: grid;
        overflow-y: scroll;
        grid-template-rows: var(--height) calc(90vh - var(--height)) calc(60dvh - var(--height));
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "main main" "author author";
    }
    .author {
        overflow: hidden;
    }
    .title {
        color: #4ED28B;
        font-size: calc(2.5vw * 4 + 20%);
    }
    .author-name {
        font-size: calc(2.6vw * 3 + 20%);
    }
    .author-img {

    }
}